.db-properties-editor-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.db-properties-editor-form {
    overflow-y: auto;
    flex: 1 1 auto;
    height: 0;
}

.db-properties-editor-controls {
    flex: 0 1 auto;
    margin: auto;
}

.db-properties-editor-controls button {
    width: 50pt;
    margin: 10pt 2.5pt;
    font-size: 9pt;
}

.db-properties-editor-controls .db-confirmbutton-controls button {
    width: 20pt;
}